body {
    background: #ddd;
    margin: 0;
}

.config-text {
    padding: 0px 2px 0px 2px;
}

.config-input {
    flex-grow: 1.5;
}

.config-label {
    flex-grow: 1;
}

.config-settings-row {
    border-bottom: 2px solid #ccc;
    width: 100%;
    background-color: #eee;
    padding-top: 5px;
}

#tftp-dir {
    display: none;
}

#config-save {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
    border-top: 2px solid #ccc;
}

#config-save:hover {
    background: #fff;
}

input[type="button"] {
    cursor: pointer;
}