body {
    background: #ddd;
}

.config-text {
    padding: 0px 2px 0px 2px;
}

.config-input {
    flex-grow: 1.5;
}

.config-label {
    flex-grow: 1;
}

.config-settings-row {
    border-bottom: 2px solid #ccc;
    width: 100%;
    padding: 2px;
    background-color: #eee;
}

#tftp-dir {
    display: none;
}

input[type="button"] {
    cursor: pointer;
}